# fastapi
# uvicorn[standard]
# sqlalchemy
# pydantic
# mysql-connector-python
# python-dotenv
# python-jose[cryptography]
# passlib[bcrypt]
# python-multipart
# apscheduler
# pytest
# httpx

fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]        # <- change from just pydantic
mysql-connector-python
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
apscheduler
pytest
httpx
